section.repository-list
    margin: 40px
    h1
        margin-bottom: 16px
    h3
        list-style: none
        li
            & + li
                margin-top: 20px
            p
                font-size: 1.4rem
            a
                display: inline-block
                margin-top: 10px
                font-size: 10px
                text-decoration: none
                color: #610094
